/* Common styles for both normal and smaller screens */
.photoFrame {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #9F021E;
    box-shadow: 12px 4px 23.6px 0px rgba(0, 0, 0, 0.25);
    height: 454px; /* Adjust height as needed */
    width: 676px; /* Adjust width as needed */
    position: relative; /* Added */
  }
  
  .photoFrame img {
    width: 100%; /* Make the image fill the container width */
    height: 100%; /* Make the image fill the container height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    flex-shrink: 0;
  }
  
  .mainContainer {
    position: relative;
    background-color: #F6F6F6;
    padding-top: 90px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: row;
    gap:30px;
  }
  
  .heading {
    color: #252525;
    font-family: "Montserrat";
    
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3.84px;
    text-transform: uppercase;
    width: 300.77px;
    line-height: 48px;
    display: flex;
  }
  
  .text {
    color: #252525;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1.92px;
    width: 450px;
  }
  
  .textFrame {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: 30px;
    align-items: flex-start;
  }
  
  #inputForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 450px;
    height: 38px;
  }
  
  #inputForm input {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    border-radius: 31px;
   
  }
  
  #inputForm button {
    display: flex;
    width: max-content;
    justify-content: flex-end;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 31px;
    background: #252525;
    color: white;
    margin-left: 370px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 750px) {
    .photoFrame {
      height: 250px;
    }
  
    .mainContainer {
      padding-bottom: 150px;
      gap:15px;
    }
  
    .heading {
      font-size: 40px;
      width: 300px;
      justify-content: flex-start;
      font-family: "Montserrat";
    }
  
    .text {
      font-size: 12px;
      line-height: 20px;
      width: 300px;
      font-family: "Montserrat";
    }
  
    .textFrame {
      padding-left: 14%;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  
    #inputForm {
      display: none;
    }
  }
  